body {
    font-family: Freight Display Pro Book;
    font-size: 16px;
}

h1 {
    font-family: Freight Display Pro Book;
    font-size: 6em;
    color: #e52c61;
}

h3 {
    font-family: Freight Display Pro Book;
    font-size: 1.8em;
    color: #e52c61;
}

#game {
    position: relative;
    max-height: 45em;
    aspect-ratio: 16/9;
    margin: auto;
}

.hidden {
    visibility: hidden;
}

/* buttons */

#menu {
    position: absolute;
    height: 100%;
    width: auto;
    aspect-ratio: 16/9;
    background-image: url(../assets/main.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#play_button {
    position: absolute;
    top: 75%;
    left: 30%;
    height: 7.5%;
    aspect-ratio: 75/28;
    background-image: url(../assets/play.svg);
    background-repeat: no-repeat;
}

#instructions_button {
    position: absolute;
    top: 75%;
    left: 55%;
    height: 7.5%;
    aspect-ratio: 300/79;
    background-image: url(../assets/instructions-button.svg);
    background-repeat: no-repeat;
}

#win_replay_button {
    position: absolute;
    height: 3em;
    aspect-ratio: 315/89;
    background-image: url(../assets/play-again.svg);
    background-repeat: no-repeat;
}

#lose_replay_button {
    position: absolute;
    height: 3em;
    aspect-ratio: 315/89;
    background-image: url(../assets/play-again.svg);
    background-repeat: no-repeat;
}

#container_sound {
    height: 2.5em;
    width: auto;
}

/* for JS */

.sound_on {
    background-image: url(../assets/sound.svg);
    background-repeat: no-repeat;
}

.sound_off {
    background-image: url(../assets/no-sound.svg);
    background-repeat: no-repeat;
}

#game_screen {
    position: absolute;
    height: 100%;
    width: auto;
    aspect-ratio: 16/9;
    background-image: url(../assets/background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* instruction */

#instruction_text {
    position: relative;
    background-image: url(../assets/instruction.svg);
    background-repeat: no-repeat;
    max-height: 80%;
    aspect-ratio: 133/75;
    z-index: 5;
    top: 10%;
    margin: auto;
}

#instruction_play_button {
    position: relative;
    background-image: url(../assets/play.svg);
    background-repeat: no-repeat;
    height: 10%;
    z-index: 6;
    left: 42%;
    top: 80%;
}

/* points */

#health {
    position: absolute;
    top: 5%;
    left: 4%;
    height: 3em;
    width: 18em;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
}

.heart {
    height: 2.2em;
    aspect-ratio: 29/25;
    background-image: url(../assets/heart.svg);
    background-repeat: no-repeat;
}

#applause {
    position: absolute;
    top: 16%;
    left: 4%;
    height: 2.6em;
    aspect-ratio: 150/23;
    background-image: url(../assets/satisfaction.svg);
    background-repeat: no-repeat;
}

#points_container {
    position: absolute;
    height: 2em;
    width: 13em;
    top: 16.7%;
    left: 9.4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* points */

.point {
    height: 1.8em;
    aspect-ratio: 21/50;
    margin-right: 0.5em;
    background-image: url(../assets/point.svg);
    background-repeat: no-repeat;
    animation: points 0.5s linear;
}

/* timer */

#time {
    position: absolute;
    top: 5%;
    left: 90%;
    height: 3em;
    width: auto;
    font-size: 3em;
    color: blanchedalmond;
}


/* pavarotti */

#container_pavarotti {
    position: absolute;
    height: 20em;
    aspect-ratio: 131/150;
    left: 40%;
    top: 8.5%;
}

.sprite_pavarotti {
    height: 24em;
    aspect-ratio: 131/150;
    background-image: url(../assets/singing-pavarotti.svg);
    background-repeat: no-repeat;
}

/* for JS */

.angry_pavarotti {
    height: 24em;
    aspect-ratio: 131/150;
    background-image: url(../assets/angry-pavarotti.svg);
    background-repeat: no-repeat;
}


/* phone bubble */

#container_phone {
    position: absolute;
    height: 8em;
    aspect-ratio: 41/30;
}

#sprite_phone {
    height: 8em;
    aspect-ratio: 41/30;
    background-image: url(../assets/phone.svg);
    background-repeat: no-repeat;
}

/* applause bubble */

#container_applause {
    position: absolute;
    height: 7em;
    aspect-ratio: 16/10;
}

#sprite_applause {
    height: 7em;
    aspect-ratio: 16/10;
    background-image: url(../assets/wow.svg);
    background-repeat: no-repeat;
}

/* angry bubble */

#container_angry {
    position: absolute;
    height: 7em;
    aspect-ratio: 16/10;
}

#sprite_angry {
    height: 7em;
    aspect-ratio: 16/10;
    background-image: url(../assets/angry.svg);
    background-repeat: no-repeat;
}

/* Winning screen */

#win {
    position: relative;
    height: 90%;
    aspect-ratio: 16/9;
    background-color: #fff8f8;
    border-radius: 2em;
    top: 6%;
    left: 6.5%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
}

#win_illustration {
    position: relative;
    height: 100%;
    aspect-ratio: 8/9;
}

#win_pavarotti {
    position: absolute;
    height: 65%;
    aspect-ratio: 18/25;
    background-image: url(../assets/happy_pavarotti.svg);
    background-repeat: no-repeat;
    top: 20%;
    left: 30%;
}

#tulip1 {
    position: absolute;
    height: 8em;
    aspect-ratio: 62/139;
    background-image: url(../assets/blue_tulip.svg);
    background-repeat: no-repeat;
    top: 7%;
    left: 80%;
    animation: blue_tulip 1s linear infinite;
}

#tulip2 {
    position: absolute;
    height: 7.3em;
    aspect-ratio: 80/129;
    background-image: url(../assets/pink_tulip.svg);
    background-repeat: no-repeat;
    top: 55%;
    left: 85%;
    animation: pink_tulip 1s linear infinite;
}

#rose {
    position: absolute;
    height: 5em;
    aspect-ratio: 113/94;
    background-image: url(../assets/rose.svg);
    background-repeat: no-repeat;
    top: 70%;
    left: 20%;
    animation: rose 1s linear infinite;
}



/* losing screen */

#lose {
    position: absolute;
    height: 85%;
    aspect-ratio: 16/9;
    background-color: #fff8f8;
    border-radius: 2em;
    top: 6%;
    left: 7.5%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

#lose_illustration {
    position: relative;
    height: 100%;
    aspect-ratio: 8/9;
}

#lose_pavarotti {
    position: absolute;
    height: 60%;
    aspect-ratio: 18/25;
    background-image: url(../assets/sad_pavarotti.svg);
    background-repeat: no-repeat;
    top: 20%;
    left: 30%
}

#tear1 {
    position: absolute;
    height: 2%;
    aspect-ratio: 300/131;
    background-image: url(../assets/tear1.svg);
    background-repeat: no-repeat;
    top: 27%;
    left: 75%;
    animation: tear1 0.5s linear infinite;
}

#tear2 {
    position: absolute;
    height: 2.5%;
    aspect-ratio: 44/25;
    background-image: url(../assets/tear2.svg);
    background-repeat: no-repeat;
    top: 33%;
    left: 73%;
    animation: tear2 0.5s linear infinite;
}

#tear3 {
    position: absolute;
    height: 2.5%;
    aspect-ratio: 97/50;
    background-image: url(../assets/tear3.svg);
    background-repeat: no-repeat;
    top: 22%;
    left: 70%;
    animation: tear3 0.5s linear infinite;
}

#tear4 {
    position: absolute;
    height: 2.5%;
    aspect-ratio: 25/12;
    background-image: url(../assets/tear4.svg);
    background-repeat: no-repeat;
    top: 26%;
    left: 27%;
    animation: tear4 0.5s linear infinite;
}

#tear5 {
    position: absolute;
    height: 2%;
    aspect-ratio: 30/13;
    background-image: url(../assets/tear5.svg);
    background-repeat: no-repeat;
    top: 21%;
    left: 25%;
    animation: tear5 0.3s linear infinite;
}

#tear6 {
    position: absolute;
    height: 2.5%;
    aspect-ratio: 133/75;
    background-image: url(../assets/tear6.svg);
    background-repeat: no-repeat;
    top: 17%;
    left: 30%;
    animation: tear6 0.3s linear infinite;
}



/* positions */

.position1 {
    left: 10%;
    top: 60%;
}

.position2 {
    left: 20%;
    top: 70%;
}

.position3 {
    left: 30%;
    top: 80%;
}

.position4 {
    left: 40%;
    top: 60%;
}

.position5 {
    left: 50%;
    top: 70%;
}

.position6 {
    left: 60%;
    top: 80%;
}

.position7 {
    left: 70%;
    top: 60%;
}

.position8 {
    left: 80%;
    top: 70%;
}

.position9 {
    left: 70%;
    top: 80%;
}

.position10 {
    left: 60%;
    top: 60%;
}

.position11 {
    left: 50%;
    top: 70%;
}

.position12 {
    left: 40%;
    top: 80%;
}

.position13 {
    left: 30%;
    top: 60%;
}

/* animations */

.fading_objects {
    animation: fade_out 3s infinite;
}

.good_click {
    animation: happy 0.8s;
}

.bad_click {
    animation: bad 1s;
}

/* animations - keyframes */

@keyframes fade_out {
    0% {opacity: 100%;}
    40% {opacity: 100%}
    100% {opacity: 0%;}
}

@keyframes happy {
    0% {transform: scale(110%); opacity: 100%;}
    40% {transform: scale(130%); opacity: 100%;}
    100% {transform: scale(0%); opacity: 100%;}
}

@keyframes points {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes bad {
    0% {transform: translateY(0%); opacity: 100%;}
    100% {transform: translateY(200%); opacity: 0%;}
}

@keyframes rose {
    0% {transform: rotateZ(0deg);}
    25% {transform: rotateZ(8deg);}
    50% {transform: translateZ(0deg);}
    75% {transform: rotateZ(-8deg);}
    100% {transform: translateZ(0deg);}
}

@keyframes pink_tulip {
    0% {transform: rotateZ(0deg);}
    25% {transform: rotateZ(-8deg);}
    50% {transform: translateZ(0deg);}
    75% {transform: rotateZ(8deg);}
    100% {transform: translateZ(0deg);}
}

@keyframes blue_tulip {
    0% {transform: rotateZ(0deg);}
    25% {transform: rotateZ(-8deg);}
    50% {transform: translateZ(0deg);}
    75% {transform: rotateZ(8deg);}
    100% {transform: translateZ(0deg);}
}

@keyframes tear1 {
    100% {transform: translateX(100%) translateY(-20%) rotate(10deg);}
}

@keyframes tear2 {
    100% {transform: translateX(100%) translateY(80%) rotate(10deg);}
}

@keyframes tear3 {
    100% {transform: translateX(100%) translateY(-80%) rotate(10deg);}
}

@keyframes tear4 {
    100% {transform: translateX(-100%) translateY(-60%) rotate(-10deg);}
}

@keyframes tear5 {
    100% {transform: translateX(-130%) translateY(-90%) rotate(-20deg);}
}

@keyframes tear6 {
    100% {transform: translateX(-130%) translateY(-100%) rotate(-15deg);}
}